@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet");


h1 {
    color: white;
}

h2 {
 color: white;
}

.ItemTitle {
    font-family: Lato;
    color: #707070;
    
}

.priceTitle {
    color: #707070;
}
.ethicalText {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.previewImg {
    max-height: 175px;
    max-width: 250px;;
    width: auto;
}

.itemDiv {
    width: 90%;
    margin: auto;
    text-align: center;
}

.itemDiv:hover {
    /* text-decoration: underline;
    text-decoration-color: lightslategray; */
    border: 5px	#707070 solid ;
    padding: 2px;
 }
 

.wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    
}

a{
    text-decoration: none;
}

.theClass {
    width: 80%;
    margin: auto;
}